body{
    overflow-x:hidden ;
}
.card-container{
    margin-top: 200px;
}
.header-container {
    position: relative;
  }
  
  .bg-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.7);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .header {
    position: relative;
    z-index: 1; /* Asegura que el encabezado esté sobre la imagen de fondo */
  }

.nav-link {
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    color: #f8f9fa; /* Cambia el color del texto cuando el mouse está sobre el enlace */
}
