body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.header .card-container {
  border:none;
  margin-top: 100px; /* Adjust margin-top to create space between header and cards */
  margin-bottom: 20px;
}
.card-body{
  border:none;
  margin-top: 50px;
}
.header-container {
  position: relative;
}

.header {
  position: relative;
  z-index: 2; /* Ensure the header is above the card container */
}

.nav-link {
  font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
  color: #f8f9fa; 
}
