/* InfiniteCarousel.module.css */
.container-fluid {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes slider {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-50%); /* Ajustado para el bucle infinito */
	}
  }
  
  .logos-slide {
	display: inline-block;
	width: 200%; 
	animation: 20s slider infinite linear; 
	transition: transform 0.5s ease-in-out;
}

.Logos {
	overflow: hidden;
	padding: 60px 0;
	background: white;
	white-space: nowrap;
	width: 100vw; 
	max-width: 100%;
  }
  .logos-slide:hover {
	animation-play-state: paused;
  }
.logos-slide img {
	height: 50px;
	margin: 0 40px;
}
