/* Estilos para el contenedor principal */
.languages-container {
    max-width: 800px; 
    margin: 0 auto;
    margin-top: 100px; 
    padding: 20px;
    font-family: 'Roboto', sans-serif; /* Agregar la fuente Roboto al contenedor principal */
}

/* Estilos para las tarjetas */
.card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6; 
    border-radius: 8px;
    margin-bottom: 20px; 
}

.card-header {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
}

.card-body {
    padding: 10px; /* Espaciado interno del cuerpo */
}

/* Estilos para el texto */
.blockquote p {
    margin: 0; /* Eliminar el margen del párrafo */
    font-family: 'Roboto', sans-serif; /* Agregar la fuente Roboto al texto */
}
