/* Projects.module.css */
.carousel-button {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  width: 50px !important;
  height: 50px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border-radius: 50% !important;
  border: none !important;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7) !important;
}