
  .customControl {
    background-color: black;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    position: absolute; /* Agregamos posición absoluta para controlar la ubicación */
    top: 50%; /* Lo colocamos en el centro verticalmente */
  }
  
  .customControl:hover {
    background-color: #333;
  }
  
  .customControl:focus {
    outline: none;
  }